/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f9f9f9;
}

header {
    background-color: #009688;
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
    color: #2C7755;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #009688;
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    color: #666;
    line-height: 1.5;
}

audio {
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
}

footer {
    background-color: #009688;
    color: #fff;
    text-align: center;
    padding: 10px;
}
