/* Reset CSS */
:root {
    --green: #2C7755;
    --violet: #820263;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    width: 80%;
    margin: 0 auto; /* Center the content horizontally */
}

header {
    background-color: #fff;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    position: relative;
}

h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
    margin-right: 120px;
    color: var(--green);
}

.header-image {
    position: absolute;
    top: 50%; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    transform: translateY(-50%);
    max-width: 100px; /* Adjust the max-width as needed */
    height: auto;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: var(--violet);
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    color: #666;
    line-height: 1.5;
}

audio {
    text-align: right;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
}

.quote {
    font-style: italic;
}

.user-journey {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #fff;
    text-align: right;
    padding: 10px;
}



/* Add more styles as needed */
